.header__lang-link {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  /* 24/16 = 1.5 */
  /* resolution 320 = 18px/16px= 1,125rem*/
  line-height: 1.17;
  /* resolution 320 = 1.11*/
  color: #ffffff;
  transition: opacity 0.5s linear;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.11;
  }
}
