.places {
  box-sizing: border-box;
  margin: 92px auto 0px;
  /* resolution 1024 = margin: 92px auto 0px; */
  /* resolution 768 = margin: 88px auto 0px;*/
  /* resolution 320 = margin: 64px auto 0px; */
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  /* resolution 1024 = row-gap: 80px; */
  /* resolution 768 = row-gap: 73px;*/
  /* resolution 320 = row-gap: 50px; */
  padding: 0px 148px;
  /* resolution 1024 = padding: 0px 48px; */
  /* resolution 768 = padding: 0px 24px;*/
  /* resolution 320 = padding: 0px 0px; */
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0px 48px;
    row-gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px auto 0px;
    padding: 0px 24px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px auto 0px;
    padding: 0px 0px;
    row-gap: 50px;
  }
}
