.place__image {
  grid-area: image;
  margin: 0px;
  padding: 0px;
  width: 100%;
  /*Можно лучше: задавать высоту элемента как пропорцию от ширины через 'aspect-ratio'. Это позволит избежать задание высоты и обработать изображения других размеров.OK*/
  aspect-ratio: auto 1 / 1;
  object-fit: contain;
}
