.footer__row-links {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  column-gap: 18px;
}

@media screen and (max-width: 600px) {
  .footer__row-links {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px; /*Можно лучше: отступы между дочерними блоками можно сделать через flex + column-gap на этом элементе, а собственные боковые отступы дочерних элементов обнулить. OK*/
    column-gap: 0px;
  }
}
