.footer__row-links {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  column-gap: 18px;
}

@media screen and (max-width: 600px) {
  .footer__row-links {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
    column-gap: 0px;
  }
}
