.lead__title {
    margin: 0px 132px 32px;
    /* resolution 1024 = 0px 104px 32px */
    /* resolution 768 = 0px 24px 32px */
    /* resolution 320 = 0px 16px 16px */
    padding: 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    /* 96/16 = 6 */
    /* resolution 320 = 40px/16 = 2.5rem */
    line-height: 1.04;
    /* resolution 320 = 1.1*/
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1235px) {
    .lead__title {
        margin: 0px auto 32px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 0px 104px 32px;
    }
}

@media screen and (max-width: 835px) {
    .lead__title {
        margin: 0px auto 32px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0px 24px 32px;
    }
}

@media screen and (max-width: 720px) {
    .lead__title {
        margin: 0px auto 32px;
        font-size: calc(2.5rem + (100vw * 0.015));
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 0px 16px 16px;
        font-size: 2.5rem;
        line-height: 1.1;
    }
}
