.lead__title {
  margin: 0px auto 32px;
  /* resolution 1024 = 0px 104px 32px */
  /* resolution 768 = 0px 24px 32px */
  /* resolution 320 = 0px 16px 16px */
  padding: 0px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  /* 96/16 = 6 */
  /* resolution 320 = 40px/16 = 2.5rem */
  line-height: 1.04;
  /* resolution 320 = 1.1*/
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
    margin: 0px 3.125% 32px;
  }
}
@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0px 16px 16px;
  }
}
