.lead__subtitle {
  margin: 0px auto 64px;
  /* resolution 1024 = 0px auto 56px */
  /* resolution 768 = 0px auto 56px */
  /* resolution 320 = 0px auto 40px */
  padding: 0px;
  max-width: 640px; /*Ширина не совпадает с макетом 1024/1280 OK*/
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  /* 30/16 = 1.875 */
  /* resolution 320 = 16/16 = 1 */
  line-height: 1.2;
  /* resolution 320 = 1.25*/
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0px auto 56px;
  }
}
@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.906vw;
    margin: 0px 64px 56px;
  }
}
@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 0px auto 40px;
  }
}
