.cover {
  width: calc(100% - 96px);
  /* resolution 1024 = width:100%; */
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0px;
  margin: 92px 48px 92px;
  /* resolution 1024 = margin: 92px 0px 92px; */
  /* resolution 768 =  margin: 90px 0px 88px; */
  /* resolution 320 =  margin: 66px 0px 64px; */
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 92px 0px 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px 0px 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0px 64px;
  }
}
