.cover__title {
  position: relative;
  padding: 0px;
  margin: 0px auto;
  max-width: 560px;
  /* resolution 320 = width: 288px;*/
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  /* 72/16 =  4,5 */
  /* resolution 320 = 32/16 = 2 */
  line-height: 1.06;
  /* resolution 320 = 1.09 */
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9.375vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 2rem;
    line-height: 1.09;
  }
}
