.footer {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px 48px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 24px 24px; /*Боковые отступы не совпадают с макетом 768px OK*/
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0px 0px 24px 16px;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 48px; /*Можно лучше: отступы между дочерними блоками можно сделать через flex + column-gap на этом элементе, а собственные боковые отступы дочерних элементов обнулить. OK*/
  }
}
